.game-wrapper {
    display: flex;
}
.player-wrapper {
    padding: 10px;
}
.board-cell {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
}
.ship {
    height: 18px;
    border: 0.75px solid #a8a8a8;
}
.ship-in-board {
    background-color: #a8a8a8;
}
.board-cell.hit::after {
    content: 'X';
}
.board-cell.ship-in-board.hit {
    color: #ff0000;
}